In [1]:
import pandas as pd
df = pd.read_csv('C:\Anaconda\weatherAUS.csv')

In [2]:
#Level 1
Avg_MaxTemp= df['MaxTemp'].mean()
Avg_MinTemp= df['MinTemp'].mean()
cobar = df[df['Location'] == 'Cobar']
Cobar_Avg_MaxTemp = cobar['MaxTemp'].mean()
Null_Sunshine = df['Sunshine'].isna().sum()
Null_Evaporation = df['Evaporation'].isna().sum()
output = {"Average Maximum Temperature":[Avg_MaxTemp],
          "Average Minimum Temperature":[Avg_MinTemp],
          "Average Maximum Temperature in the Location Cobar":[Cobar_Avg_MaxTemp],
          "Count of null value in Sunshine":[Null_Sunshine],
          "Count of null value in Evaporation":[Null_Evaporation]}
df2 = pd.DataFrame(output)
print(df2)

   Average Maximum Temperature  Average Minimum Temperature  \
0                    23.221348                    12.194034

   Average Maximum Temperature in the Location Cobar  \
0                                          25.870093

   Count of null value in Sunshine  Count of null value in Evaporation
0                            69835                               62790

In [3]:
#Level3
def location(Loca):
    data = df[df['Location'] == Loca]
    return(data)
find_loca = input("Enter location to look at data- ")
print(location(find_loca))

Enter location to look at data- Albury
            Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0     2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1     2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2     2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3     2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4     2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN
...          ...      ...      ...      ...       ...          ...       ...
3035  2017-06-21   Albury      1.2     15.2       0.4          NaN       NaN
3036  2017-06-22   Albury      0.8     13.4       0.0          NaN       NaN
3037  2017-06-23   Albury      1.1     11.9       0.0          NaN       NaN
3038  2017-06-24   Albury      1.1     14.1       0.2          NaN       NaN
3039  2017-06-25   Albury      3.9     10.9       0.0          NaN       NaN

     WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0              W           44.0          W  ...        71.0         22.0
1            WNW           44.0        NNW  ...        44.0         25.0
2            WSW           46.0          W  ...        38.0         30.0
3             NE           24.0         SE  ...        45.0         16.0
4              W           41.0        ENE  ...        82.0         33.0
...          ...            ...        ...  ...         ...          ...
3035         ENE           15.0        NaN  ...       100.0         62.0
3036           W           17.0          S  ...       100.0         66.0
3037          SE           44.0        SSE  ...       100.0         81.0
3038         WSW           28.0         SW  ...       100.0         49.0
3039         NNW           28.0          S  ...        88.0         82.0

      Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0          1007.7       1007.1       8.0       NaN     16.9     21.8
1          1010.6       1007.8       NaN       NaN     17.2     24.3
2          1007.6       1008.7       NaN       2.0     21.0     23.2
3          1017.6       1012.8       NaN       NaN     18.1     26.5
4          1010.8       1006.0       7.0       8.0     17.8     29.7
...           ...          ...       ...       ...      ...      ...
3035       1029.4       1026.7       8.0       NaN      2.9     14.3
3036       1029.4       1025.9       8.0       1.0      3.6     13.3
3037       1022.3       1017.7       8.0       1.0      2.7     10.2
3038       1018.8       1017.2       7.0       6.0      3.9     13.1
3039       1020.5       1018.8       7.0       8.0      6.4      8.8

      RainToday  RainTomorrow
0            No            No
1            No            No
2            No            No
3            No            No
4            No            No
...         ...           ...
3035         No            No
3036         No            No
3037         No            No
3038         No            No
3039         No           Yes

[3040 rows x 23 columns]

In [4]:
#Level 2
Avg_Evap= df['Evaporation'].mean()
df["Evaporation"].fillna(Avg_Evap, inplace = True)
df1=df.dropna(axis=1)
df2=df.drop('Date', axis =1)